<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">

        </div>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <p>a</p>
                </div>
                <div class="col-4">
                    <p>b</p>

                </div>
                <div class="col-4">
                    <p>c</p>

                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <p>d</p>

                </div>
                <div class="col-10">
                    <p>e</p>

                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <p>f</p>

                </div>
                <div class="col-2">
                    <p>g</p>

                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <p>h</p>

                </div>
                <div class="col-4">
                    <p>i</p>

                </div>
                <div class="col-4">
                    <p>j</p>

                </div>
                <div class="col-2">
                    <p>k</p>

                </div>
            </div>
        </div>
    </body>
</html>
