/osa01-Osa01_01.HelloBrowser/target/
/osa01-Osa01_02.HelloServer/target/
/osa01-Osa01_03.HelloRedirectLoop/target/
/osa01-Osa01_04.HelloWorld/target/
/osa01-Osa01_05.HelloPath/target/
/osa01-Osa01_07.HelloRequestParam/target/
/osa01-Osa01_09.HelloRequestParams/target/
/osa01-Osa01_10.Square/target/
/osa02-Osa02_01.HelloThymeleaf/target/
/osa02-Osa02_03.HelloModel/target/
/osa02-Osa02_04.HelloList/target/
/osa02-Osa02_05.HelloObjects/target/
/osa02-Osa02_06.HelloForm/target/
/osa02-Osa02_07.HelloPostRedirectGet/target/
/osa02-Osa02_08.ItemDatabase/target/
/osa02-Osa02_09.PersonDatabase/target/
/osa02-Osa02_10.HelloPathVariables/target/
/osa02-Osa02_11.HelloIndividualPages/target/
/osa02-Osa02_12.TodoApplication/target/
/osa03-Osa03_00.Pankkijarjestelma/target/
/osa03-Osa03_01.NewTables/target/
/osa03-Osa03_02.SimpleBanking/target/